# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Commonly used libraries in Data Science
* Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R Language
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. ggplot2

| Data Science Tools |
| ----- |
| Jupyter Notebook |
| JupyterLab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335

## Author
Nawaf Alsaeed